html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main.container {
  height: calc(100vh - 72px);
}

.main.row {
  height: 100%;
}

.sidebar {
  height: 100%;
  background-color: #f5f5f5;
  overflow-y: scroll;
}

.map-container {
  height: 100%;
}

#map {
  height: 100%;
}
